.body{
font-family:Arial;
background:#f4f4f4;
margin:40px;
}

.button{
padding:8px 15px;
margin:5px;
background:#007bff;
color:white;
border:none;
cursor:pointer;
}

.book{
background:white;
padding:15px;
margin-top:10px;
border-radius:5px;
box-shadow:0 0 5px gray;
}